<article id="list-one" class="view">
  <button class="print mdl-button mdl-js-button mdl-button--icon mdl-button--accent float-right">
    <i class="material-icons">print</i>
  </button>
  <h1 class="mdl-typography--display-1">{{{ listOne.title }}}</h1>
  <div id="questionnaire-details"></div>
</article>