<article id="patient-one" class="view">
  <button class="print mdl-button mdl-js-button mdl-button--icon mdl-button--accent float-right">
    <i class="material-icons">print</i>
  </button>
  <h1 class="mdl-typography--display-1">{{{ patientOne.title }}}</h1>
  <div id="patient-details"></div>
  <table id="patient-questionnaires-list" class="questionnaires-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Patient</th>
        <th class="mdl-data-table__cell--non-numeric">Date</th>
        <th class="mdl-data-table__cell--non-numeric">Type</th>
        <th class="mdl-data-table__cell--non-numeric">Score</th>
        <th class="mdl-data-table__cell--non-numeric">Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</article>