<article id="patient" class="view">
  <h1 class="mdl-typography--display-1">{{{ patients.title }}}</h1>
  {{{ patients.content }}}
  <table id="patients-list" class="questionnaires-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Patient</th>
        <th class="mdl-data-table__cell--non-numeric">Birth Date</th>
        <th class="mdl-data-table__cell--non-numeric">Gender</th>
        <th class="mdl-data-table__cell--non-numeric">Questionnaires</th>
        <th class="mdl-data-table__cell--non-numeric">Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</article>