{{!-- <dialog id="article-delete-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">Delete this article?</h4>
  <div class="mdl-dialog__content">
    <p>Warning: this will be permanent.<p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button" id="article-delete">Delete it</button>
    <button type="button" class="mdl-button close">Cancel</button>
  </div>
</dialog> --}}
<!-- Les Javascripts -->
<script src="./assets/common.js"> </script>
<script src="./assets/vendor.js"> </script>
<script src="./assets/main.js"> </script>