<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
{{!--     <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#/new">
        <i class="material-icons">assignment</i> new
      </a>
    </nav> --}}
  </div>
</header>