<main class="mdl-layout__content">
  <section class="page-content">
    <div class="mdl-grid">
      <div class="content mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--12-col"> 
          <!-- Site pages -->
          {{> views/home}}
          {{> views/new}}
          {{> views/list}}
          {{> views/listOne}}
          {{> views/patient}}
          {{> views/patientOne}}
          {{> views/about}}
      </div>
    </div>
  </section>
  <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</main>