<div class="mdl-color--white mdl-layout__drawer">
  <span class="mdl-layout-title">
    <img src="sgrq-logo.png">
    SGRQ
  </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="#/">Home</a>
    <a class="mdl-navigation__link" href="#/new">New questionnaire</a>
    <a class="mdl-navigation__link" href="#/list">View questionnaires</a>
    <a class="mdl-navigation__link" href="#/patient">View patients</a>
    <a class="mdl-navigation__link" href="#/about">About</a>
  </nav>
</div>