/* ==========  Select Field Variables ========== */

$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.51)") !default;
$select-padding: 4px;

/* ==========  Select Field ========== */


/* Style Select Field */

select {
    display: block;
    font-family: inherit;
    background-color: transparent;
    width: 280px;
    height: 40px;
    margin: 10px 0 30px;
    border-radius: 0;
    padding: $select-padding;
    font-size: $select-font-size;
    color: $select-color;
    border: 1px solid $select-border-color;
}


/* Remove focus */

select:focus {
    outline: none
}

select:disabled {
    color: rgba(0,0,0,0.20);
}


select option.noval {
    color: rgba(0,0,0,0.50);
}

/* Use custom arrow */

.mdl-selectfield {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
    select {
        appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
    }

    select + select {
        margin-top: 5px;
    }

    label {
        display: block;
        font-size: 12px;
        position: static;
    }

    .mdl-button--fab {
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        min-width: 20px;
        font-size: 12px;
        font-weight: lighter;
    }
}